<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Saite do Gordim{% endblock %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="{% static 'assets/css/navbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}" media="screen" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>

</head>
<body>

    <div id="logo" class="row container" >
        <div class="braco_dir"><img src="../static/assets/img/braco_dir.png"  style="width: 100px;
            height: 100px;"></div>
        <div class="cabeca"><img src="../static/assets/img/cabeca.png"  style="width: 100px;
            height: 100px;"></div>
        <div class="braco_esq"><img src="../static/assets/img/braco_esq.png" style="width: 100px;
            height: 100px;"></div>
        <div class="braco_dir1"><img src="../static/assets/img/braco_dir1.png" style="width: 100px;
            height: 100px;"></div>
        <div class="tronco"><img src="../static/assets/img/tronco.png" style="width: 100px;
            height: 100px;"></div>
        <div class="braco_esq1"><img src="../static/assets/img/braco_esq1.png" style="width: 100px;
            height: 100px;"></div>
        <div class="pe_dir"><img src="../static/assets/img/pe_dir.png" style="width: 100px;
            height: 100px;"></div>
        <div class="pes"><img src="../static/assets/img/pes.png" style="width: 100px;
            height: 100px;"></div>
        <div class="pe_esq"><img src="../static/assets/img/pe_esq.png" style="width: 100px;
            height: 100px;">
        </div>
    </div>

    <nav id="menu">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'gallery' %}">Galeria</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="{% url 'contact' %}">Contato</a></li>
        </ul>
    </nav>
    <div class="section">
        {% block container %}

        {% endblock %}
    </div>


    <script src="{% static 'assets/js/navbar.js' %}"></script>
    <script src="{% static 'assets/js/gallery.js' %}"></script>

    <script src="{% static 'assets/bootstrap.min.js' %}"></script>

</body>
</html>
