{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Contato | {{ block.super }}
{% endblock %}

{% block container %}

<div class="w3-content w3-container w3-padding-64" style="max-width:1100px">

<!-- Contact Section  -->
    <h1>Contato</h1><br>
    <p>Algum texto bunito aqui pra impressionar os gordim ou quem mais ocê quiser.</p>
    <p class="w3-text-blue-grey w3-large"><b>Consultório, Rua Principal, 43 - Vila Mimosa - Rio de Janeiro, RJ </b></p>
    <p>Nosso Tel 021 9999-9999 ou e-mail drkelson@gmail.com, ou pode nos mandar uma mensagem aqui:</p>

    {% if success %}
    <div class="alert alert-success">
        Mensagem enviada com sucesso
    </div>
    {% endif %}

    <form action="" method="post" >
        {% csrf_token %}
        <fieldset style="border: 0 none;">
            {% for field in form %}
               {% if field.errors %} has-error{% endif %}

                {{ field.placeholder }}
                <br/>
                {% render_field field %}

                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}

            {% endfor %}

            <button class="w3-button w3-light-grey w3-section" type="submit">Enviar</button>

        </fieldset>
    </form>

</div>
{% endblock %}