{% extends "base.html" %}

{% load static %}

{% block container %}
<link rel="stylesheet" href="{% static 'assets/css/index.css' %}" media="screen" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../static/assets/img/kelson.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Dr. Kelson</h1><br>
      <h5 class="w3-center">Formado desde 1980 e guaraná de rolha</h5>
      <p class="w3-large">
        Lorem ipsum dolor sit amet. Est optio sunt et quaerat fugit sed porro ipsam. Aut magnam recusandae ad delectus nulla est saepe quod et asperiores ea consequatur voluptatum a voluptatem eveniet? Aut nulla dolores ut exercitationem voluptas At illum sint eum ullam quae qui rerum illo. Est exercitationem repudiandae eos officiis maxime quo laboriosam recusandae?
        Id consequatur suscipit ut accusantium alias et possimus voluptas nam beatae sequi sed voluptatem quasi eos aspernatur recusandae. Ut minima fugit ea provident deleniti ut beatae eaque et sunt laboriosam. Sit omnis odit ut pariatur laborum sed consectetur eius eos nisi ipsam in omnis nihil ea omnis commodi. Et inventore magnam est animi quaerat ex dolor amet.

      </p>

    </div>
  </div>

  <hr>

  <!-- Menu Section -->
  <div class="w3-row w3-padding-64">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Mininu Estudadô</h1><br>
      <h4>Lorem ipsum</h4>
      <p class="w3-text-grey">Assortment of fresh baked fruit breads and muffins 5.50</p><br>

      <h4>Lorem ipsum dolor sit ame</h4>
      <p class="w3-text-grey">Aut magnam recusandae ad delectus nulla est saepe quod et as</p><br>

      <h4>Et aliquid </h4>
      <p class="w3-text-grey">ea omnis commodi. Et inventore magnam est animi quaerat ex dolor amet. </p><br>

      <h4>Et inventore magnam</h4>
      <p class="w3-text-grey"> voluptatem eveniet? Aut nulla dolores ut exercitationem voluptas At illum sint eum ullam quae qui rerum illo. Est maxime quo laboriosam recusandae?</p>
    </div>

    <div class="w3-col l6 w3-padding-large">
      <img src="../static/assets/img/kelson1.png" class="w3-round w3-image" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr>

<!-- End page content -->
</div>


{% endblock %}