<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Sobre
                <strong>MotoClube</strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-10">
            <img class="img-responsive img-border-left" src="img/fotologo.jpg" alt="">
        </div>
        <div class="col-md-12">
            <p>Este é logo do motoclube!</p>
            <p>
                O Moto Clube nasceu da vontade de um grupo de amigos em se organizarem para viajar e se encontrar para falar sobre o fantástico mundo das estradas e motocicletas.</p>
            <p>
                A maioria residia no interior Paulista, na região da cidade de Lins, e naquela época (2007) não existia na região nenhum Moto Clube, sendo raro ver motociclista usando colete de MC,
                e quando ocorria eram viajantes de passagem pela cidade.
            </p>
            <p>
                Da motivação deste grupo de amigos e por não existir nenhum Moto Clube na região de Lins, em agosto de 2007 foi fundado o Moto Clube Duendes.
            </p>
            <p>
                Logo de início a ideia contagiou a todos, e em menos de um ano foram convidados todos os amigos mais próximos e que também compartilhavam da paixão por motocicletas e estradas!!! 
            </p>
            <p>
                Nosso MC tem como principal missão, desbravar as estradas desse mundão sentindo o vento na cara, ouvindo o barulho do escapamento, e exposto a todas as intempéries do clima, 
                assim, apesar do pouco tempo de existência, já percorremos muitos trechos !!!
            </p>
            <h2 class="intro-text text-center">
                <hr>
                <p><strong> * 2007 * </strong></p><hr>
                <p>	São Paulo/SP – Bonito/MS </p>
                <p>	São Paulo/SP – Natal/RN </p>
                <hr>
                <p><strong> * 2008 * </strong></p><hr>
                <p>	São Paulo/SP – Dos de Mayo/Agentina </p>
                <p>	São Paulo/SP – Manaus/AM </p>
                <hr>
                <p><strong> * 2009 * </strong></p><hr>
                <p>	São Paulo/SP – Dos de Mayo/Agentina </p>
                <p>	São Paulo/SP – Vitória/ES – Diamantina/MG </p>
                <hr>
                <p><strong> * 2010 * </strong></p><hr>
                <p>	São Paulo/SP – Dos de Mayo/Argentina </p> 
                <hr>
                <p><strong> * 2011 * </strong></p><hr>
                <p>	São Paulo/SP – Dos de Mayo/Argentina </p>
                <hr>
                <p><strong> * 2012 * </strong></p><hr>
                <p>	São Paulo/SP – Dos de Mayo/Argentina - Catamarca/Argentina – Córdova/Argentina – Rosário/Argentina - Buenos Aires/Argentina – Montevideo/Uruguai – Punta del Este/Uruguai </p>
                <hr>
                <p><strong> * 2013 * </strong></p><hr>
                <p>	São Paulo/SP – Cusco/Peru </p>
                <hr>
                <p><strong> * 2014 * </strong></p><hr>
                <p>	São Paulo/SP – Serra do Rio do Rastro/SC </p>
            </h2>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


